.main-container {
    width: 80%;
}

.empty-result-message {
    display: flex;
    justify-content: center;
}

.game-img {
    display: block;
    width: 100%;
    height: auto;
}

.img {
    /*display: flex;*/
    /*justify-content: end;*/
}