body {
    background-color: #fff9dc;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: #0a41ac;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: purple;
}

.info {
    display: flex;
}

.info-text {
    margin-left: 20px;
    color: darkslategrey;
}

.PS {
    width: 200px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto;
}
.IMG {
    width: 500px;
    height: 280px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}